:root {
  font-family: 雅黑;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: style;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  border-color: #646cff;
}
button:hover:not(:disabled) {
  background-color: #646cff;
  color: #fff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


#editorRoot {
  border: 1px solid #646cffaa;
  border-radius: 4px;
  padding: 6px 12px;
}

#editorContainer .ProseMirror {
  outline: none;
  caret-color: #646cffaa;
}

.ProseMirror p {
  line-height: 26px;
  margin: 0;
}

.ProseMirror h1,
.ProseMirror h2,
.ProseMirror h3,
.ProseMirror h4,
.ProseMirror h5,
.ProseMirror h6 {
  margin: 0;
  padding: 0;
}

.ProseMirror blockquote {
  margin: 16px 0;
  position: relative;
  padding-left: 16px;
  color: #767c85;
}

.ProseMirror blockquote::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 4px;
  border-radius: 2px;
  background-color: #e2e6ed;
}


.ProseMirror .block_tile {
  padding-left: 20px;
  position: relative;
}
.ProseMirror .block_tile::before {
  content: "+";
  font-size: 18px;
  color: #ccc;
  cursor: move;
  position: absolute;
  left: 4px;
  top: 45%;
  transform: translateY(-50%);
}

.ProseMirror .datetime {
  display: inline-block;
  padding: 4px;
  /* border: 1px solid #646cffaa; */
  border-radius: 4px;
}

.toolbar {
  margin-bottom: 12px;
  border-bottom: 1px solid #646cffaa;
  padding-bottom: 12px;
}

.menu-group {
  margin-bottom: 8px;
}

.menu-group .menu-item:not(:last-of-type) {
  margin-right: 8px;
}
.menu-group .menu-item.is-active {
  background-color: #646cffaa;
  color: #fff;
}